<h2>User Management</h2>

<!-- <div *ngIf="loading">Loading users...</div> -->
<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="40"></mat-spinner>
</div>
<p *ngIf="!loading && users.length === 0">No users found.</p>

<table *ngIf="!loading && users.length > 0">
  <thead>
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
      <td>
        <a [routerLink]="['/admin/users/edit', user.id]">
          <button>Edit</button>
        </a>
        <button (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
